<!DOCTYPE html>
<html>
<head>
  <title>LibraryApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100">
  <nav class="bg-blue-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <%= link_to 'Library App', root_path, class: "text-xl font-bold" %>
      <%= link_to 'All Books', books_path, class: "hover:text-gray-200" %>
    </div>
  </nav>

  <div class="container mx-auto px-4 py-8">
    <%= yield %>
  </div>
</body>
</html>